/.metadata/
web_client_workspace/01_html/sample/audio/major.mp3
web_client_workspace/01_html/sample/image/city1.PNG
web_client_workspace/01_html/sample/image/flower1.PNG
web_client_workspace/01_html/sample/image/flower2.PNG
web_client_workspace/01_html/sample/image/flower3.PNG
web_client_workspace/01_html/sample/image/flower4.PNG
web_client_workspace/01_html/sample/image/flower5.PNG
web_client_workspace/01_html/sample/image/forest1.PNG
web_client_workspace/01_html/sample/image/hyunta.jpg
web_client_workspace/01_html/sample/image/river1.PNG
web_client_workspace/01_html/sample/image/river2.PNG
web_client_workspace/01_html/sample/image/tiger.jpg
web_client_workspace/01_html/sample/image/tower1.PNG
web_client_workspace/01_html/sample/video/HelloWorld.swf
web_client_workspace/01_html/sample/video/small.mp4
web_client_workspace/01_html/sample/video/small.ogv
web_client_workspace/01_html/sample/video/small.webm
