/.metadata/
web_client_workspace/01_html/sample/audio/major.mp3
web_client_workspace/01_html/sample/image/city1.PNG
web_client_workspace/01_html/sample/image/flower1.PNG
web_client_workspace/01_html/sample/image/flower2.PNG
web_client_workspace/01_html/sample/image/flower3.PNG
web_client_workspace/01_html/sample/image/flower4.PNG
web_client_workspace/01_html/sample/image/flower5.PNG
web_client_workspace/01_html/sample/image/forest1.PNG
web_client_workspace/01_html/sample/image/hyunta.jpg
web_client_workspace/01_html/sample/image/river1.PNG
web_client_workspace/01_html/sample/image/river2.PNG
web_client_workspace/01_html/sample/image/tiger.jpg
web_client_workspace/01_html/sample/image/tower1.PNG
web_client_workspace/01_html/sample/video/HelloWorld.swf
web_client_workspace/01_html/sample/video/small.mp4
web_client_workspace/01_html/sample/video/small.ogv
web_client_workspace/01_html/sample/video/small.webm
web_client_workspace/02_css/resources/image/bgsample.PNG
web_client_workspace/02_css/resources/image/city1.PNG
web_client_workspace/02_css/resources/image/flower1.PNG
web_client_workspace/02_css/resources/image/flower2.PNG
web_client_workspace/02_css/resources/image/flower3.PNG
web_client_workspace/02_css/resources/image/flower4.PNG
web_client_workspace/02_css/resources/image/flower5.PNG
web_client_workspace/02_css/resources/image/flying_pig.jpg
web_client_workspace/02_css/resources/image/forest1.PNG
web_client_workspace/02_css/resources/image/hyunta.jpg
web_client_workspace/02_css/resources/image/img1.jpg
web_client_workspace/02_css/resources/image/img2.jpg
web_client_workspace/02_css/resources/image/magnifying-glass.gif
web_client_workspace/02_css/resources/image/mybullet.gif
web_client_workspace/02_css/resources/image/river1.PNG
web_client_workspace/02_css/resources/image/river2.PNG
web_client_workspace/02_css/resources/image/tower1.PNG
web_client_workspace/02_css/resources/test/bg1.jpg
web_client_workspace/02_css/resources/test/bg2.jpg
web_client_workspace/02_css/resources/test/img1.jpg
web_client_workspace/02_css/resources/test/img2.jpg
web_client_workspace/02_css/resources/test/img3.jpg
web_client_workspace/02_css/resources/test/img4.jpg
web_client_workspace/02_css/resources/test/img5.jpg
web_client_workspace/02_css/resources/test/img6.jpg
web_client_workspace/02_css/resources/test/img7.png
web_client_workspace/02_css/resources/test/img8.jpg
web_client_workspace/02_css/resources/test/prod.zip
web_client_workspace/02_css/resources/test/prod/prod_color_eggs.jpg
web_client_workspace/02_css/resources/test/prod/prod_potatoes.jpg
web_client_workspace/02_css/resources/test/prod/prod_tomato.jpg
web_client_workspace/02_css/resources/test/sun/sun1.jpg
web_client_workspace/02_css/resources/test/sun/sun2.jpg
web_client_workspace/02_css/resources/test/sun/sun3.jpg
