<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>01_helloweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- testPerson1 -->
  <servlet>
  	<servlet-name>TestPerson1Servlet</servlet-name>
  	<servlet-class>com.kh.web.servlet.TestPerson1Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>TestPerson1Servlet</servlet-name>
  	<url-pattern>/testPerson1.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- testPerson2 -->
  <servlet>
	<servlet-name>TestPerson2Servlet</servlet-name>
	<servlet-class>com.kh.web.servlet.TestPerson2Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>TestPerson2Servlet</servlet-name>
  	<url-pattern>/testPerson2.do</url-pattern>
  </servlet-mapping>
  <!-- testPerson3, testPerson4를 testPerson2servlet과 맵핑가능 -->
  <!--
  <servlet-mapping>
  	<servlet-name>TestPerson2Servlet</servlet-name>
  	<url-pattern>/testPerson3.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestPerson2Servlet</servlet-name>
  	<url-pattern>/testPerson4.do</url-pattern>
  </servlet-mapping>
  -->
  
  
  <!-- menu -->
  <servlet>
	<servlet-name>MenuOrderServlet</servlet-name>
	<servlet-class>com.kh.web.menu.MenuOrderServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MenuOrderServlet</servlet-name>
  	<url-pattern>/menu.do</url-pattern>
  </servlet-mapping>


</web-app>